
AUTHENTICATION_SERVICE_DATABASE_URL="mongodb://localhost:27017/user-auth-rbac"
AUTHENTICATION_SERVICE_DEFAULT_LANGUAGE="en"
AUTHENTICATION_SERVICE_AUTH_SECRET_KEY="jltOQWxFcLZg6PeyMmNuhiTnaaBzJOHQ"
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT="465"
# SMTP_EMAIL="est.identitype@gmail.com"
# SMTP_PASSWORD="rnhmvcrehdiztdva"
# SMTP_FROM_EMAIL="est.identitype@gmail.com"
NOTIFICATION_SERVICE_ADDRESS="localhost:4002"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_EMAIL="gabpals.developer@gmail.com"
SMTP_PASSWORD="zdhjsvovvncqtpjq"
SMTP_FROM_EMAIL="info1@encoresky.com"

SENDGRID_API_KEY="SG._oz_kyyYwbps"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

GMAIL_USER=
GMAIL_PASSWORD=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_OTP_SID=
TWILIO_PHONE_NUMBER=

//optional
NEXMO_API_KEY=
NEXMO_API_SECRET=
NEXMO_FROM_NUMBER=

TEXTMAGIC_USERNAME=
TEXTMAGIC_API_KEY=

USE_FCM=true

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

EXPO_ACCESS_TOKEN=
