AUTHENTICATION_SERVICE_DATABASE_URL="mongodb://localhost:27017/capital-portal"
AUTHENTICATION_SERVICE_ADDRESS="localhost:4000"
AUTHENTICATION_SERVICE_DEFAULT_LANGUAGE="en"
AUTHENTICATION_SERVICE_AUTH_SECRET_KEY="qwe"
AUTHENTICATION_SERVICE_AUTH_TOKEN_EXPIRE_TIME=2160000
AUTHENTICATION_SERVICE_RESET_PASSWORD_SECRET_KEY="er"
AUTHENTICATION_SERVICE_RESET_PASSWORD_TOKEN_EXPIRE_TIME=2160000
AUTHENTICATION_SERVICE_INVITATION_SECRET_KEY="dr"
AUTHENTICATION_SERVICE_INVITATION_TOKEN_EXPIRE_TIME=2160000
AUTHENTICATION_SERVICE_WEB_INVITATION_URL=""
AUTHENTICATION_SERVICE_WEB_RESET_PASSWORD_URL=""
WEB_BASE_URL=""
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT="465"
# SMTP_EMAIL="example@dd.cc"
# SMTP_PASSWORD="abc"
# SMTP_FROM_EMAIL="example@dd.cc"
ACTIVITY_LOGS_SERVICE_ADDRESS="localhost:4001"
NOTIFICATION_SERVICE_ADDRESS="localhost:4002"

SENDGRID_API_KEY="SG.Ks8UF7mzQHuS3W2RFpHp5w"
SENDGRID_FROM_NAME="Encoresky"
SENDGRID_FROM_EMAIL="info@encoresky.com"

TWILIO_ACCOUNT_SID=AC2a42bcbf887
TWILIO_AUTH_TOKEN=e5770135103
TWILIO_ACCOUNT_OTP_SID=VA633cd9f1dcb4a
TWILIO_PHONE_NUMBER="+13346335892"