API_GATEWAY_APP_PORT="3000"
API_GATEWAY_BODY_PARSER_LIMIT="10mb"
API_GATEWAY_BODY_PARAMETER_LIMIT="5000"
AUTHENTICATION_SERVICE_ADDRESS="localhost:4000"
ACTIVITY_LOGS_SERVICE_ADDRESS="localhost:4001"
WEB_BASE_URL=""
